/node_modules
/public/hot
/public/storage
/vendor
.env
.env.backup
.lando.yml
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/*/.DS_Store

# Ignore mounts
storage
bootstrap/cache
.config
