html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  background-image: url("https://source.unsplash.com/featured/1920x1280/daily?landscape");
}

html header,
body header {
  padding: 15px;
  background-color: white;
}

html header .logo,
body header .logo {
  height: 55px;
  padding: 10px 0px;
}

html header .logo img,
body header .logo img {
  height: 35px;
  width: auto;
}

html header a,
body header a {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  html header a,
  body header a {
    margin-left: 0 !important;
  }
}

html main,
body main {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

html .loader,
body .loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
  display: none;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

html .cursor-not-allowed .loader,
body .cursor-not-allowed .loader {
  display: block;
}

